.menu {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 20vw;
    .menu-items {
        display: flex;
        flex-direction: row;
        width: 100%;
        .items {
            cursor: pointer;
            padding: 10px;
            margin: 0.5rem;   
        }
    }
}